
#textArea{
    margin-top: 1vw;
    margin-left: -0.3vw;
}

.text{
    vertical-align: top;
    display: inline-block;
    width: 31.5%;
    padding: 1%;
}

.avatar{
    display: inline-block;
    padding: 1%;
}