header{
    background-color: #0a64eb;
    width: 100%;
    top: 0;
    left: 0;
}

#logo{
    width: 12%;
    display: inline-block;
}

.title{
  color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0a64eb;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.7vw 0.8vw;
    text-decoration: none;
}

.menu:hover{
    color: #d4d3d3;
    text-decoration: blink;
}

