
#main_wrapper
{
    margin: 4% auto auto;
}

h1{
    font-family: sans-serif;
}

.thumbnail{
    text-align: center;
    height: 162px;
}

.createSpace{
    margin: 1%;
}

.createBorder{
    border: 4px solid #ddd;
    height: 460px;
}